## .env.example 사용 시 - .env 파일을 생성하여 아래 내용을 복사 붙여넣기 하세요.
## .env 파일은 실제 서비스 환경에 맞게 수정해야 하며, 절대 버전 관리 시스템에 포함시키지 마세요 (.gitignore에 추가되어야 함).

# 1. PostgreSQL 설정 (Database)
POSTGRES_USER=user  # 실제 사용하는 아이디 입력
POSTGRES_PASSWORD=password # 실제 사용하는 비밀번호 입력
POSTGRES_SERVER=localhost # 실제 사용하는 서버명 입력
POSTGRES_PORT=5432
POSTGRES_DB=postgres # 실제 사용하는 데이터베이스 명 입력
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:${POSTGRES_PORT}/${POSTGRES_DB}


# 2. Redis 설정 (Cache)
REDIS_HOST=redis # 실제 사용하는 Redis 서버명 입력
REDIS_PORT=6379 # 실제 사용하는 Redis 포트 입력
REDIS_PASSWORD=password # 실제 사용하는 비밀번호 입력
REDIS_URL=redis://default:password@redis:6379 # 실제 사용하는 Redis URL 입력 (예시: redis://default:password@redis:6379)

# 3. Kafka 설정 (Message Queue)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# 4. Security 설정 (JWT & OAuth2)
# 실제 서비스 시에는 아주 복잡한 문자열로 변경하세요.
SECRET_KEY=your_super_secret_key_64_characters_long
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# 5. Monitoring (Grafana 관련 설정 필요 시)
GRAFANA_ADMIN_PASSWORD=admin

KAKAO_REST_API_KEY=admin

# 6. firebase 키 위치, 실제 로컬에 있는 키 위치 넣기.
FIREBASE_CONFIG_PATH="/Users/yourname/projects/my-project/firebase-adminsdk.json"